/* Three columns side by side */
.column1 {
    position: relative;
    width: 250px;
    margin-bottom: 16px;
    padding: 0 8px;
    left: 375px;
    top: 200px;
  }

.column2 {
    position: relative;
    width: 250px;
    margin-bottom: 16;
    padding: 0 8px;
    left: 655px;
    top: 50px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0000ff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .button1:hover {
    background-color: #0000d1;
  }

  .button2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #32CD32;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .button2:hover {
    background-color: #00a300;
  }
